@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
body {
    font-family: Raleway;
    background-color: black;
    color: white;
}
* {
    margin: 0;
}

.cell {
    width: 8vw;
    height: 8vw;
    border: 2px solid #ffffff;
    color: white;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 100px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    cursor: pointer;
}

#cellContainer {
    display:grid;
    grid-template-columns: repeat(3,auto);
    width: 24vw;
    margin: auto;
}
#gameContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



h1#title {
    font-size: 50px;
    margin: 4vh;
}

#statusText {
    margin: 3vh 0;
    font-size: 30px;
    transition: all 0.5s;
}


#restartBtn {
    font-size: 25px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    background: black;
    padding: 15px 40px;
    border: 1px solid white;
    border-radius: 4px;
    transition: color 0.2s ease-in-out;
    text-align: center;
    margin: auto;
}

#restartBtn:hover {
    color: rgba(255, 255, 255, 1);
}

.scoreboard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    font-size: 12px;
    margin: 0 0 30px 0;
}

.scoreboard h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 450;
    margin: 0 0 10px 0;
}
.scoreboard h2 {
    font-size: 40px;
    margin: 0;
}